div.index-text span.green{
    color: #3395a0;
}

a.accueil{
    color: #3395a0;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.index-text h1{
    font-size: 50px;
    margin-bottom: 5px;
}

div.index-text p{
    margin-bottom: 50px;
}

span.cta{
    padding: 15px;
    background-color: #3395a0;
    color: #fff;
    margin-top: 10px;
}

/* div.image img{
    /* 437x643 

} */